.background-wrapper {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

#BackgroundVideo {
    width: 100%;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu {
    color: #8dc3ff;
    background: rgba(27, 43, 58, 0.9);
    border: 1px solid #8dc3ff;
    font-family: sans-serif;
    width: 20rem;
    min-height: 35vh;
}

.registration-menu {
    color: #8dc3ff;
    background: rgba(27, 43, 58, 0.9);
    border: 1px solid #8dc3ff;
    font-family: sans-serif;
    width: 500px;
    min-height: 35vh;
}

.menu-content {
    margin: 1.5rem;
}

.text-center {
    text-align: center;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0.8rem;
}

form {
    width: 12rem;
    margin: 1rem auto;
}

label {
    font-size: 12.5px;
    display: block;
    margin-bottom: 0.3rem;
}

input {
    margin-bottom: 0.8rem;
    width: calc(100% - 6px);
    padding: 0.15rem 0 0.15rem 0.25rem;
    color: #8dc3ff;
    background: transparent;
    border: 1px solid rgba(141, 195, 255, 0.51);
    outline: 0;
    font-size: 14px;
    transition: color 0.2s ease-in-out 0.1s, border-bottom-color 0.2s ease-in-out 0.1s, border-top-color 0.2s ease-in-out 0.1s, border-left-color 0.2s ease-in-out 0.1s, border-right-color 0.2s ease-in-out 0.1s;
}

input:active, input:focus {
    color: #8dc3ff;
    border: 1px solid #8dc3ff;
}

input::placeholder {
    font-size: 14px;
    color: rgba(103, 141, 189, 0.51);
}

form>.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form>.form-buttons>button {
    cursor: pointer;
    color: rgba(141, 195, 255, 0.51);
    background: transparent;
    border: 1px solid rgba(141, 195, 255, 0.51);
    width: calc(50% - 6px);
    transition: color 0.2s ease-in-out 0.1s, border-bottom-color 0.2s ease-in-out 0.1s, border-top-color 0.2s ease-in-out 0.1s, border-left-color 0.2s ease-in-out 0.1s, border-right-color 0.2s ease-in-out 0.1s;
}

form>.form-buttons>button:hover, form>.form-buttons>button:active, form>.form-buttons>button:focus {
    color: #8dc3ff;
    border: 1px solid #8dc3ff;
}

/* Сделано на втором занятии */

a.reference {
    color: #eaa611;
}
.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.form-row>div {
    width: 47%;
}

form.long {
    width: 400px;
}

input.long {
    width: calc(400px - 6px);
}

.move-right {
    margin-left: auto;
}

button.half-length {
    width: calc(50% - 12px) !important;
    padding-right: 0;
    padding-left: 0;
}